extend layout

block content
    .container-lg(id="hautDePage")
        .row
            h1.mt-3 mes listes de kanji
        .row
            form.mt-4(method="post")
                .form-group.mb-2
                    input#search.mx-3(type="text" name="addList")
                    button.btn.btn-secondary(type="submit") Ajouter une liste
        .row
            table.table.table-striped.text-center.border.mt-3.mb-5
                tr
                    th vos listes
                    th actions
                    each item in result
                        tr
                            td
                                label= item.list_name
                            td
                                a.btn.btn-secondary(href="/details-list/" + item.id role="button")  Afficher le contenu 
                                a.btn.btn-secondary.ml-2(href="/update/" + item.id) Modifier
                                a.btn.btn-secondary.ml-2(href="/delete/" + item.id role="button") Supprimer                        