html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
* {
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}
ul {
    list-style:none;
}
.fontsizexl {
    font-size: 10em;
}
.redBorder {
    border: 2px solid red;
}
