footer.page-footer.font-small(style="background-color: #8c031c;")

  .footer-copyright.text-center.py-3(style="color: #f2f2f2") © 2020 Copyright:
    a(href="/home" style="color: #f2f2f2")  Grégory Vandevraye Apprendre le Japonais