nav.navbar.navbar-light.navbar-expand-lg(style="background-color: #8c031c;")
    a.navbar-brand(href="/home"): img(src="/images/logo_japon.png" alt="logo du site drapeau Japonais et carte")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navContent" style="background-color: #f2f2f2")
        span.navbar-toggler-icon
    #navContent.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
            a.nav-link.text-bold(href="/home" style="color: #f2f2f2") ACCUEIL ホーム
            li.nav-item
            a.nav-link.ml-3(href="/kanji" style="color: #f2f2f2") KANJI 漢字
            li.nav-item
            a.nav-link.ml-3(href="/inscription" style="color: #f2f2f2") INSCRIPTION 登録
            li.nav-item
            a.nav-link.ml-3(href="/connexion" style="color: #f2f2f2") LOGIN ログインする
